.button-cv{
    border: none;
    padding: .5rem 4rem;
    border-radius: 10px;
    color: white;
    /* width: 100%; */
}

.icon{
    background-color: #E1CE00;
    /* padding: 1.25rem; */
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 100%;
    color: #2E073F;
}
.info{
    align-items: center;
    gap: 1rem;
}
.headerImg{
    width: 100%;
    /* height: auto; */
    object-fit: contain;
}

@media only screen and (max-width: 768px) {
    .info{
        /* margin-bottom: 1rem; */
        display: flex;
        align-items: center;
        gap: .75rem;
    }
}